google-button {

    .google {

        &__icon {
            width: 3.6rem;
            position: absolute;
            top: 50%;
            left: 2.2rem;
            margin-top: -2.3rem;
            height: 3.6rem;
        }

        &__button {
            height: 5rem;
            position: relative;
            font-family: 'Roboto', sans-serif;
            text-transform: none;
            background-color: #4285F4;
            margin-bottom: 1rem;
        }
    }

}
